body{
    font-familiy:"Avenir Next";
}

li{
    list-style: none;
}

.header{
    background-color: #cc66ff;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 40px;
}


.main {
  padding: 80px 50px;
}

.main-container h1 {
  font-size: 100px;
}

.main-container h2 {
  font-size: 60px;
}

img{
    width: 200px;
    heigh: 200px;
}

.content-item {
  float: left;
  margin-right: 40px;
}

.fotter{
    background-color: beige;
}

.footer-logo {
  float: left;
  font-size: 20px;
  padding:100px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding: 100px;
  font-size:30px;
}
